@import "_mixins.scss";
@import "_base.scss";
@import "_variables.scss";
#content {
    @include common_area_style;
    display: flex;
    grid-area: content;
    flex-direction: column;
    background-color: $background_color;
    justify-content: space-evenly;
}

.content-sections {
    @extend .element;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: plum;
    outline: solid purple;
    height: 40%;
    margin-left: $margin_content;
    margin-right: $margin_content;
}

.product {
    @extend .element;
    background-color: $background_color;
    outline: solid purple;
    height: 30%;
    width: 30%;
}